body{
	margin:0;
	padding:0;
	overflow-x:hidden;
}

@font-face {
    font-family: LogoFont;
    src: url("../fonts/Jayadhira LILA EE01.ttf");
}

ul{
	margin:0;
	padding:0;
}

.container {
	margin:auto;
}

input,
textarea{
	width: 100%;
	padding: 10px;
	margin: 10px 20px;
}

/* COMMON CLASSES */
.primary-text{
	color:#e67e22;
}

.primary-background{
	background:#e67e22;
}

.white-text{
	color:#fff;
}

/* SECTION HEADER */
.section-header{
	display:flex;
	width:100%;
	height:100px;
	align-items:center;
}
	.section-header-line{
		width:100%;
		height:0px;
	}

	.section-header-name {
		padding:0 20px;
	}
/* SECTION HEADER THEME */
.dark-section-header{
	color:#000;
}
	.dark-section-header .section-header-line{
		border:1px solid #000;
	}

.light-section-header{
	color:#FFF;
}
	.light-section-header .section-header-line{
		border:1px solid #FFF;
	}

/* HEADER */
#contact-header{
	background: #eeeeee;
}
	#contact-header .row{
		height:40px;
	}

/* NAVBAR */
#navbar li{
	list-style:none;
	padding:20px;
	text-transform:uppercase;
}
	#navbar li.selected, #navbar a:hover>li{
		background:#e67e22;
		color:#fff;
	}
		#navbar a{
			display: inline-block;
			color:#777777;
			text-decoration: none;
		}

#main-header .row{
	padding:25px 0px 25px 0px;
}
	#main-header .signature{
		font-family:LogoFont;
		font-size:3em;
	}

/* SLIDESHOW */
#slideshow{
	background-image:url("../images/slideshow.jpg");
	background-position:center;
	color:#fff;
}
	#slideshow .row{
		height:500px;
	}

#welcome-text{
	border-bottom: 1px solid #cccccc;
	font-size: 34px;
	padding:50px 0 50px 0;
}
	#welcome-text p{
		font-size:16px;
		font-style: italic;
	}

#history .row>div{
	padding:40px;
}

#history .row>p{
	padding:10px;
}

#projects{
	background:url("../images/background.png");
}

#footer{
	border-top:1px solid #cccccc;
	background-color:#eaeaea;
	color:#929292;
}
	a.footer-link{
		text-decoration:none;
		font-weight: bold;
	}
		a.footer-link:hover{
			text-decoration:underline;
		}

	a.facebook-color {
		color: #465994;
    font-weight: bold;
	}

	a.youtube-color {
		color: #cb1e22;
	}

	a.freemail-color {
		color:#f89a1e;
	}

	.orange-button{
		background-color:#ff7600;
		border:none;
		border-bottom:2px solid #d35400;
		width:auto;
		color:#FFF;
		transition: background-color 1s linear;
		font-size:18px;
	}
		.orange-button:hover{
			background-color:#d35400;
		}

	.copyright {
		padding:40px;
	}
		.copyright a{
			color:#e67e22;
		}
