$primary-color: #e67e22;
$seconday-color: #eeeeee;

@font-face {
    font-family: LogoFont;
    src: url("../fonts/Jayadhira LILA EE01.ttf");
}

#contact-header {
    color: $primary-color;
    background: $seconday-color;
}
    #contact-header .row > div {
        line-height:30px;
    }

    #contact-header .fb_iframe_widget span{vertical-align:middle !important;}

    #contact-header .signature {
        font-family: LogoFont;
        color: black;
        font-size: 30px;
    }