/* #1 */ $primary-color:    #e67e22;
/* #2 */ $secondary-color:  #777777;
/* #3 */ $tertiary-color:   #fff;
/* #4 */ $quaternary-color: #eeeeee;

@font-face {
    font-family: LogoFont;
    src: url("../fonts/Jayadhira LILA EE01.ttf");
}

body{
    font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif;
    font-size: 12px;
}

p {
    font-size: 10px;
}
h1 {
    font-size: 10px;
}


#contact-header {
    color: $primary-color;
    background: $quaternary-color;
}
    #contact-header .row > div {
        line-height:40px;
    }

    #contact-header .fb_iframe_widget span {
        vertical-align:middle !important;
    }

    #contact-header .signature {
        font-family: LogoFont;  /* This is not working */
        color: black;
        font-size: 30px;
    }

.navbar-default {
    background-color: $tertiary-color;
    border: none;
    text-transform: uppercase;
}
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > li > a:hover {
        background: $primary-color !important;
        color: $tertiary-color;
    }

    .navbar-default .navbar-toggle {
        border-color: $primary-color;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: $primary-color;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: $tertiary-color;
    }

.carousel {
    background: url('img/slideshow.jpg') no-repeat center center fixed;
    color:$tertiary-color;
}
    .carousel .row {
        margin:0;
    }
    .carousel-content {
        display:flex;
        align-items:center;
        height:500px;
        margin: auto;
        text-align:center;
        letter-spacing: 4px;
    }
        .carousel-content > div {
            width:100%;
        }
            .carousel-content h1 {
                text-transform: uppercase;
            }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width : 768px) {
    p {
        font-size: 10px;
    }

    h1 {
        font-size: 10px;
    }

    .navbar {
        margin:0;
    }

    #navbar {
        height:110px !important;
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width : 992px) {
    p {
        font-size: 10px;
    }

    h1 {
        font-size: 10px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width : 1200px) {
    p {
        font-size: 15px;
    }
    h1 {
        font-size: 36px;
    }
}