footer {
    background: $quaternary-color;
    border-top: 1px solid #cccccc;
}

.facebook-color,
a.facebook-color:hover {
    color: #465994;
}

.youtube-color {
    color: #cb1e22;
}

.github-color,
.github-color:hover {
    color: #000;
}

.email-color,
.email-color:hover {
    color: #f89a1e;
}
